.homepage-nav-container {
  margin: 30px 100px;
}

.homepage-hero {
  display: flex;
  justify-content: space-between;
  margin: 80px 100px 50px 100px;
  border: 1px solid black;
}

.hero-rent-text {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
  width: 50%;
  border: 1px solid red;
}

.homepage-hero-rent {
  font-size: 56px;
  line-height: 140%;
  color: #434343;
  border: 1px solid red;
}

.purple-text {
  color: #a13c79;
}

.hero-search-section {
  margin-top: 50px;
}

.hero-search-section form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.search-location-field {
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  height: 90.9%;
  width: 70%;
  padding-left: 20px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #b8b8b8;
}

.searchbtn {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  height: 100%;
  width: 30%;
  border: none;
}

.homepage-hero-images {
  display: flex;
  justify-content: right;
  /* align-items: center; */
  gap: 0.5rem;
  width: 45%;
  border: 1px solid black;
}

.hero-img-one {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border: 1px solid blue;
  margin-top: 120px;
}

.hero-img-two {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border: 1px solid blue;
}

.logos {
  height: 70px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}
