.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  /* margin: 0 60px; */
}

.navbar-logo-container {
  /* border: 1px solid black; */
  /* width: 20%; */
}

.navbar-list {
  width: 45%;
  /* border: 1px solid black; */
}

.navbar-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  list-style: none;
  color: #434343;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #434343;
}

.connect-to-wallet {
  /* border: 1px solid black; */
}

.hamburger-container {
  display: none;
}

.ham-icon {
  height: 60px;
  width: 60px;
}

/* @media screen and (max-width: 481px) and (min-width: 768px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .navbar-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    color: #434343;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
  }
} */

/* Mobile Screen responsiveness */

/* @media screen and (max-width: 480px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .navbar-logo-container > img {
    width: 100%;
  }

  .navbar-list {
    display: none;
  }

  .hamburger-container {
    display: block;
  }

  .hamburger-container > img {
    width: 100%;
  }
} */
