* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  src: local("RedRose-Regular"),
    url(../src/fonts/RedRose-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 500;
  src: local("RedRose-Medium"),
    url(../src/fonts/RedRose-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  src: local("RedRose-Bold"),
    url(../src/fonts/RedRose-Bold.ttf) format("truetype");
}
